<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/wap_institute_logo.png" alt="" width="50" height="42" class="d-inline-block align-top bg-white">
        WapERP
      </a>

      <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="navbar-brand">Login</a>
      <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="navbar-brand">Register</a>
    </div>
  </nav>